@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body {
	font-family: "Inter", sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    background-color: #f4f4f5;
}
main{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
}
h4{
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: 600;
}
.html-css{
    display: flex;
    color: #71717a;
    margin-bottom: 10px;
}
span{
    margin-right: 5px;
}
li{
    margin-left: 10px;
    text-align: left;
}
.cont{
    color: #71717a;
}
.cont img:nth-child(2){
	margin-left: -10px;
}